html
    head
        title Client keys
    body
        h2 Client keys
        div
            p Use those "client id" and "client secret" in your Authentication header for each request to our API.
        div
            p
                strong Client id :
                span  #{clientId}
            p
                strong Client secret :
                span  #{clientSecret}
            p
                strong Callback URL :
                span  #{redirectUri}